
:host {


}

mat-card {
    margin: 1em 0;
}

jok-temperature-chart,
jok-wind-chart,
jok-temperature-chart {
    height: 30em;
    display: flex;
}

@media screen and (max-width: 1024px) {

    mat-card {
        padding: 0.5em;
    }
}
