
$material-red-50: #FFEBEE;
$material-red-100: #FFCDD2;
$material-red-200: #EF9A9A;
$material-red-300: #E57373;
$material-red-400: #EF5350;
$material-red-500: #F44336;
$material-red-600: #E53935;
$material-red-700: #D32F2F;
$material-red-800: #C62828;
$material-red-900: #B71C1C;


$material-pink-900: #880e4f;

$material-purple-900: #4A148C;

$material-deep-purple-900: #311B92;

$material-indigo-900: #1A237E;

$material-blue-900: #0D47A1;

$material-light-blue-50: #E1F5FE;
$material-light-blue-900: #01579B;

$material-cyan-900: #006064;

$material-teal-900: #004D40;

$material-green-900: #1B5E20;

$material-light-green-900: #33691E;

$material-lime-900: #827717;

$material-yellow-900: #F57F17;

$material-amber-900: #FF6F00;

$material-orange-900: #E65100;

$material-deep-orange-900: #BF360C;

$material-grey-900: #212121;

$material-blue-grey-900: #263238;






