@import "src/styles/material";

:host {
    width: 100%;
    height: 100%;
    display: flex;
}

jok-chart {
    width: 100%;
    height: 100%;

    ::ng-deep {

        .graph.line {

            path {
                stroke: $material-red-900;
            }
        }

        .graph.area {

            path {
                fill: $material-red-500;
                opacity: 0.2;
            }
        }
    }
}

