@use "src/styles/material-colors" as *;

:host {

    ::ng-deep {

        .graph.line {

            path {
                stroke: $material-red-900;
            }
        }

        .graph.area {

            path {
                fill: $material-red-500;
                opacity: 0.2;
            }
        }
    }
}
