
:host {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

mat-drawer-container {
    width: 100%;
    flex: 1 0 auto;
}

mat-drawer-content {
    width: 100%;
}

mat-drawer {
    width: 20em;
}
