
:host {

}

.mat-column-label {
}

.mat-column-average {
    text-align: right;
    padding-left: 3em;
    padding-right: 1em;
}

.mat-column-high {
    text-align: right;
    padding-left: 2em;
    padding-right: 1em;
}

.mat-column-highTime {
}

.mat-column-low {
    text-align: right;
    padding-left: 3em;
    padding-right: 1em;
}

.mat-column-lowTime {
}
