@use "src/styles/material-colors" as *;

:host {

    ::ng-deep {

        .graph {

            &.area {

                path {
                    stroke: $material-light-blue-50;
                    fill: $material-light-blue-900;
                    opacity: 0.6;
                }
            }
        }
    }
}

