
:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6em;
}


.asdasd {
    width: 100em;
    // width: 30em;
    max-width: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.cccc {
    display: flex;
    flex-direction: column;
}

mat-card {
    // margin: 0.5em;
}


jok-console {
    height: 10em;
}

@media screen and (max-width: 1024px) {

    jok-console {
        height: auto;
    }
}



.wwwwwwwwwfw {
    margin: 0.5em;
}
