
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  background-color: #121212;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}
